# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Contao
/*.xml
contao/update.phar.php
assets/css/*
assets/images/*
assets/js/*
share/*.xml
system/cache/*
system/logs/*
system/tmp/*
